
body{
    background-color: $ice-blue;
}
.wrapper{
    max-width: 1150px;
    width: 85%;
    margin: 0 auto;
}

.button {
    background-color: $twilight-blue;
    color:white;
    padding: 10px 20px;
    display: inline-block;
    margin: 20px auto 30px auto;

    &:hover,
    &:focus{
        background-color: $spruce;
    }
}

img{
    width:100%;
    display: block;
}

.border-left,
.border-right{
    position:relative;
}
.border-left::before,
.border-right::after{
    content : '';
    width: 100%;
    height:100%;
    background: $greenish-cyan;
    display:block;
    position:absolute;
    top: 10px;
    z-index:-10
}

.border-left::before{
    left:-10px;
}

.border-right::after{
    right:-10px;
}

.green-icon{
    background-color: $greenish-cyan;
    color: white;
    border-radius: 50%;
    padding:8px;
    width:38px;
    height:36px;
    text-align: center;
}

.social-links{
    display:flex;
}