header {
    background-image: url("../assets/home-image-1.jpg");
    background-size: cover;
    // height:800px;
    height:100vh;

    .wrapper{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    position: relative;
}

nav {
    label, ul a{
        color:white;

        &:hover,
        &:focus{
            color:$greenish-cyan;
        }
    }
    ul{
        display:none;
        a {
            display:inline-block;
            padding-left:50px;
        }
    }
}

[type="checkbox"]{
    opacity: 0;
    position:absolute;
}

.main-header{
    display:flex;
    align-items: center;
    justify-content: center;
    height:90%;

    div{
        display:none;
        position:absolute;
        width:45%;
        left:0;
        bottom:-150px;
    }
}

h1{
    z-index:10;
    // margin-right:200px;
    // margin-left:auto;

    // text-align:center;

    span {
        display: block;
    }
}