header {
    background-image: url("../assets/home-image-1.jpg");
    background-size: cover;
    height:800px;
    margin-bottom:200px;
    // height:100vh;

    .top-navigation{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-top:30px;

        ul a, button{
            color:white;

            &:hover,
            &:focus{
                color:$greenish-cyan;
            }
        }

        .top-navigation-links{
            display:flex;
            z-index:30;
            a {
                display:inline-block;
                padding-left:50px;
            }
        }
    }
    position: relative;

    .logo{
        position:relative;
        z-index:30;
    }
}


#slide-out-button {
    background-color: transparent;
    border:none;
    display:none;
}

.slide-out-nav {
    display:none;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    z-index: 20;
    width:100%;
    background-color: $twilight-blue;
    
    .button-container{
        text-align: right;

        button{
            background-color: $twilight-blue;
            border: none;
            font-size:3rem;
            cursor: pointer;
        }
    }

    a{
        width:100%;
        font-size:3rem;
        padding: 20px 0;

        &:hover,
        &:focus{
            background-color: $spruce;
        }
    }
}


.home-heading{
    display:flex;
    align-items: center;
    justify-content: center;
    height:90%;

    div{
        // display:none;
        position:absolute;
        width:45%;
        left:0;
        bottom:-150px;
    }
}

h1{
    z-index:10;
    // margin-right:200px;
    // margin-left:auto;

    // text-align:center;

    span {
        display: block;
    }
}

// Sub pages heading styles
// TODO add to media queries
// .blog-header,
// .contact-header {
//     min-height:400px;
//     height:70vh;
// }

.blog-header,
.contact-header {
    height:600px;
    margin-bottom: 0px;
}

.blog-header{
    background-image: url(../assets/blog-image-1.jpg);
}

.contact-header{
    background-image: url(../assets/contact-image-1.jpg);
}

.blog-heading, 
.contact-heading {
    display:flex;
    align-items: center;
    height:100%;
    position:relative;
    top:15px;
}
