@media (max-width:1200px) {
    
    .blog-main{
        aside {
            width:27.5%;

            li{
                font-size:1.9rem;
            }
        }
    }

    .contact-info{
        width:calc(35% - 80px);
    }

    address {
        font-size: 1.7rem;
    }
}

@media (max-width:1050px){
    .blog-main{
        flex-direction: column;

        aside,
        &>section
        {
            max-width: 1150px;
            width: 85%;
            margin: 0 auto;
        }

        aside{
            padding-top:50px;
            display:flex;
            gap:75px;

            img{
                margin-top:25px;
                box-shadow: 20px 20px $greenish-cyan;
            }
        }
    }

    .blog-post-section{
        &>div:first-child{
            outline:none;
        }
    }

    .blog-post,
    .comments{
        margin-left:0;
    }

    .contact-info-main .wrapper{
        flex-direction:column;

        section{
            width:100%;
        }
    }

    .contact-info{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top:0;
    }

    .get-in-touch{
        margin-bottom:-75px;
    }

    address{
        a{
            line-height: 3.2rem;
        }
    }
}

@media (max-width:900px){
    header{
        .logo{
            padding-bottom: 25px;
        }
    }

    .top-navigation{
        flex-direction: column;
        .top-navigation-links{
            a {
                padding:0 20px;
            }
        }
    }

    h1 {
        font-size: 9rem;
        line-height: 5rem;
    }

    h1 span{
        font-size: 4.5rem;
        letter-spacing: 0.67rem;
    }

    .home-heading{
        height:70%;
    }

    .blog-heading, 
    .contact-heading {
        top:-75px;
    }

    .visit .wrapper{
        flex-direction: column;
        text-align: center;
        // align-items: center;

        .visit-text{
            padding:0;
        }

        .border-left{
            width:70%;
            align-self: center;
        }
    }

    .about .wrapper {
        flex-direction: column;
        &>div{
            width:100%;
        }
    }

    .outer-wrapper{
        flex-direction: column;
        max-width: 1150px;
        width: 85%;
        margin: 0 auto;
        height:auto;
    }

    .plan-ahead,
    .new-locations{
        .img-container{
            position:static;
            width:100%;
        }
    }

    .text-container{
        width:100%;

        div{
            margin:30px auto;
            width:100%;
            text-align:center;
        }
    }

    .new-locations{
        .text-container{
            order:0;
        }
    }
}

@media(max-width:750px){
    form {
        div {
            flex-direction: column;
        }
    }

    .blog-main{
        aside {
            &>div:first-child{
                display:none;
            }
            padding-top:0px;
        }
    }

    .subpage{
        font-size: 7.5rem;
        letter-spacing: 0.7rem;
    }

   
}

@media(max-width:650px){
    h1 {
        font-size: 6.5rem;
    }

    .gallery{
        
        .wrapper {
            div{
                width:50%;
            }
            
            margin:0;
            padding: 20px 0;
            width:100%;
            div:last-child{
                display:none;
            }
        }
    }

    #slide-out-button {
        display:block;
    }

    .top-navigation{
        flex-direction: row;

        .top-navigation-links{
            display:none;
        }
    }


}

