@media (max-width:1200px) {
    
    .blog-main{
        aside {
            width:27.5%;

            li{
                font-size:1.9rem;
            }
        }
    }

    .contact-info{
        width:calc(35% - 80px);
    }

    address {
        font-size: 1.7rem;
    }
}

@media (max-width:1050px){
    .blog-main{
        flex-direction: column;

        aside,
        &>section
        {
            max-width: 1150px;
            width: 85%;
            margin: 0 auto;
        }

        aside{
            padding-top:50px;
            display:flex;
            gap:75px;

            img{
                margin-top:25px;
                box-shadow: 20px 20px $greenish-cyan;
            }
        }
    }

    .blog-post-section{
        &>div:first-child{
            outline:none;
        }
    }

    .blog-post,
    .comments{
        margin-left:0;
    }

    .contact-info-main .wrapper{
        flex-direction:column;

        section{
            width:100%;
        }
    }

    .contact-info{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top:0;
    }

    .get-in-touch{
        margin-bottom:-75px;
    }

    address{
        a{
            line-height: 3.2rem;
        }
    }
}


@media (max-width:900px){
    header{
        

        .logo{
            padding-bottom: 50px;
        }
    }

    .top-navigation{
        flex-direction: column;
        .top-navigation-links{
            a {
                padding:0 20px;
            }
        }
    }

    h1 {
        font-size: 9rem;
        line-height: 5rem;
    }

    h1 span{
        font-size: 4.5rem;
        letter-spacing: 0.67rem;
 
    }

    .home-heading{
        height:70%;
    }

    .blog-heading, 
    .contact-heading {
        top:-75px;
    }


    
}

