.visit .wrapper{
    display:flex;
    justify-content: space-between;

    .visit-text{
        flex:1 1 60%;
        padding-right:80px;
    }
}

.gallery{
    background-color: $light-light-blue;
    padding: 60px 0;
    .wrapper {
        display:flex;
        justify-content: space-between;

        div{
            width:32%;
        }
    }
}

.about {
    padding:40px 0;
    .wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &>div{
            width: calc(50% - 20px);
            display:flex;
            align-items: flex-start;
            margin:20px 0;
        }
    }
    margin-bottom:100px;
}

.icon-container{
    height:5.8rem;
    display:flex;
    align-items: center;
    margin-right:10px;
}

.text-container{
    width:55%;

    div{
        margin:0 auto;
        width:65%;
    }
}

.plan-ahead,
.new-locations{
    background-color: $light-light-blue;
    padding:30px 0 50px 0;

    .img-container{
        width:45%;
        height:calc(100% + 80px);
        position:relative;

        img{
            height:100%;
            object-fit: cover;
        }
    }

    .border-right{
        bottom:80px;
    }

    .border-left{
        top:80px;
    }
}

.new-locations{
    .text-container{
        order:-1;
        text-align: right;
    }
}

.free-trip .wrapper{
    text-align: center;
    padding:70px 0;

    h3{
        color: $spruce;
    }
}


// CONTACT PAGE
.contact-info-main .wrapper{
    display:flex;
    justify-content: space-between;
    margin-bottom:-50px;
}

.get-in-touch{
    width:65%;

    form{
        position:relative;
        bottom:150px;
    }
}
.contact-info{
    padding-top:75px; 
    width:calc(35% - 100px);

    a{
        padding:10px 10px 10px 0;
        font-weight: bold;
    }
}

address{
    a{
        line-height: 4.5rem;
    }
    display:flex;
    flex-direction:column;
    font-style: normal;
}

.social-links{
    display:flex; 

    i {
        width:25px;
        height:25px;
    }
}

//BLOG PAGE
.blog-main{
    display:flex;
    justify-content: space-between;

    aside {
        width:25%;
        padding-top:100px;

        &>div:last-child{
            padding-right:20px;
        }

        li::before{
            content: "• ";
            color: $greenish-cyan;
        }

        span{
            color:$spruce;
            font-weight: bold;
            margin-bottom: 100px;
        }

        h4 {
            line-height: 8.5rem;
        }
    }

    &>section{
        width:65%;
    }

    h3{
        color:$black;
    }

    h4{
        color:$twilight-blue;
    }
}

.blog-post-section{
    &>div:first-child{
        outline: 5px $greenish-cyan solid;
        outline-offset: 15px;
        position:relative;
        bottom:125px;
        margin-bottom:-75px;
    }

    .border-right{
        position:relative;
        bottom:40px;
    }
}

.post-date{
    color: $twilight-blue;
    font-style: italic;
    span {
        font-weight: bold;
    }
}

//styles for wrapper around blog post and comments
.blog-post,
.comments{
    margin-left:7.5vw;
    max-width:calc(1150px * 0.65);
    // margin-right:100px;
    p{
        margin-bottom:20px;
    }

    h4{
        font-size: 2rem;
        letter-spacing: 0.2rem;
        line-height: 3.2rem;
    }
}

@media (min-width:1350px) {
    .blog-post,
    .comments{
        margin-left:auto;
        margin-right:50px;
    }
}
//end styles for wrapper around blog post and comments

.comment-container{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:30px 0;

    div:first-child{
        width: 100px;
        padding-top:5px;
    }

    div:last-child{
        width:calc(100% - 150px);
    }
}

.comments{
    form, input, textarea{
        background-color: $ice-blue;
    }
}