.visit .wrapper{
    // text-align:center;
    display:flex;
    // margin:40px auto;
    justify-content: space-between;

    .visit-text{
        flex:1 1 60%;
        padding-right:80px;
    }

}

.gallery{
    background-color: $light-light-blue;
    padding: 60px 0;
    .wrapper {
        display:flex;
        justify-content: space-between;

        div{
            width:32%;
        }
        
        // TODO: add these to media queries
        // margin:0;
        // padding: 20px 0;
        // width:100%;
        // div:last-child{
        //     display:none;
        // }
    }
}

.about {
    padding:40px 0;
    .wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &>div{
            width: calc(50% - 20px);
            display:flex;
            align-items: flex-start;
            margin:20px 0;
        }
    }

    margin-bottom:100px;
}

.icon-container{
    height:5.8rem;
    display:flex;
    align-items: center;
    margin-right:10px;
}




.text-container{
    width:55%;

    div{
        margin:0 auto;
        width:65%;
    }
}

.plan-ahead,
.new-locations{
    background-color: $light-light-blue;
    padding:30px 0 50px 0;

    .img-container{
        width:45%;
        height:calc(100% + 80px);
        position:relative;

        img{
            height:100%;
            object-fit: cover;
            
        }
    }

    .border-right{
        bottom:80px;

        
    }

    .border-left{
        top:80px;
    }
}

.new-locations .outer-wrapper{
    .text-container{
        order:-1;
        text-align: right;
    }
}



//TODO:add to media queries
// .plan-ahead,
// .new-locations,
// .free-trip {
//     margin:30px auto;

//     .wrapper{
//         text-align: center;
//         margin-top: 20px;
//     }
// }

// contact info page

.contact-info{
    margin-top:30px;
}

.social-links{
    display:flex;    

    i {
        width:25px;
        height:25px;
    }
}

.contact-info{
    a{
        padding:10px 10px 10px 0;
        &:hover,
        &focus{
            color:$greenish-cyan;
        }
    }

    address{
        display:flex;
        flex-direction:column;
        font-style: normal;
    }

}