html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #2C2C2C;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

h1, .button, .logo {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: italic;
}

h1 .subpage,
h1 span {
  font-family: "Lato";
}

h1 .subpage,
h1 span,
h2,
h3,
h4,
nav {
  font-weight: bold;
  line-height: 5.8rem;
}

.logo {
  color: #50E3C2;
}

h1,
h3 {
  color: #063974;
}

h1 span,
h2,
h4 {
  color: #0C5F4C;
}

footer {
  color: white;
}

h1 {
  font-size: 5rem;
}

h1 span {
  font-size: 3.5rem;
}

h1 .subpage {
  font-size: 8.7rem;
  letter-spacing: 0.9rem;
}

h2,
h3 {
  font-size: 3.5rem;
  letter-spacing: 0.38rem;
}

h4 {
  font-size: 3rem;
  letter-spacing: 0.32rem;
}

.logo {
  font-size: 3.46rem;
}

nav {
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.button {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
}

::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1150px;
  width: 85%;
  margin: 0 auto;
}

.button {
  background-color: #063974;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  margin: 20px auto 30px auto;
}
.button:hover, .button:focus {
  background-color: #0C5F4C;
}

img {
  width: 100%;
  display: block;
}

.border-left,
.border-right {
  position: relative;
}

.border-left::before,
.border-right::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #50E3C2;
  display: block;
  position: absolute;
  top: 10px;
  z-index: -10;
}

.border-left::before {
  left: -10px;
}

.border-right::after {
  right: -10px;
}

.green-icon {
  background-color: #50E3C2;
  color: white;
  border-radius: 50%;
  padding: 8px;
  width: 38px;
  height: 36px;
  text-align: center;
}

header {
  background-image: url("../assets/home-image-1.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
header .wrapper label, header .wrapper ul a, header .wrapper button {
  color: white;
}
header .wrapper label:hover, header .wrapper label:focus, header .wrapper ul a:hover, header .wrapper ul a:focus, header .wrapper button:hover, header .wrapper button:focus {
  color: #50E3C2;
}
header .wrapper ul a {
  display: inline-block;
  padding-left: 50px;
}

#slide-out-button {
  background-color: transparent;
  border: none;
}

.slide-out-nav {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  background-color: #063974;
}
.slide-out-nav .button-container {
  text-align: right;
}
.slide-out-nav .button-container button {
  background-color: #063974;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}
.slide-out-nav a {
  width: 100%;
  font-size: 3rem;
  padding: 20px 0;
}
.slide-out-nav a:hover, .slide-out-nav a:focus {
  background-color: #0C5F4C;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}
.main-header div {
  display: none;
  position: absolute;
  width: 45%;
  left: 0;
  bottom: -150px;
}

h1 {
  z-index: 10;
}
h1 span {
  display: block;
}

.visit {
  text-align: center;
  margin: 40px auto;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 20px 0;
  width: 100%;
}
.gallery .wrapper div:last-child {
  display: none;
}

.about .wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px auto;
}

.icon-container {
  height: 5.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.plan-ahead,
.new-locations,
.free-trip {
  margin: 30px auto;
}
.plan-ahead .wrapper,
.new-locations .wrapper,
.free-trip .wrapper {
  text-align: center;
  margin-top: 20px;
}

input, textarea {
  border: #50E3C2 2px solid;
  padding: 25px;
  width: 100%;
}

input {
  border-left: none;
  border-right: none;
  border-top: none;
}

textarea {
  resize: none;
  margin-top: 30px;
}

form button {
  width: 100%;
}