@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #2C2C2C;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

h1, .button, .logo {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: italic;
}

.subpage,
h1 span {
  font-family: "Lato";
}

.subpage,
h1 span,
h2,
h3,
h4,
nav {
  font-weight: bold;
  line-height: 5.8rem;
}

.logo {
  color: #50E3C2;
}

h1,
h3 {
  color: #063974;
}

h1 span,
h2,
h4 {
  color: #0C5F4C;
}

footer {
  color: white;
  background-color: #2C2C2C;
  text-align: center;
  line-height: 4.8rem;
  margin-top: 20px;
}

h1 {
  font-size: 11.12rem;
  line-height: 10rem;
}

h1 span {
  font-size: 6.2rem;
  letter-spacing: 0.67rem;
}

.subpage {
  font-size: 8.7rem;
  letter-spacing: 0.9rem;
  color: white;
}

h2,
h3 {
  font-size: 3.5rem;
  letter-spacing: 0.38rem;
}

h4 {
  font-size: 3rem;
  letter-spacing: 0.32rem;
}

.logo {
  font-size: 3.46rem;
}

nav {
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.button {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
}

::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, a:focus {
  color: #50E3C2;
}

body {
  background-color: #FAFFFE;
}

.wrapper {
  max-width: 1150px;
  width: 85%;
  margin: 0 auto;
}

.outer-wrapper {
  max-width: 2500px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.outer-wrapper-blog {
  max-width: 2500px;
  margin: 0 auto;
}

.button {
  background-color: #063974;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  margin: 20px auto 30px auto;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #0C5F4C;
  color: white;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

.border-left img,
.border-left form {
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}

.border-right img,
.border-right form {
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
}

.green-icon {
  background-color: #50E3C2;
  color: white;
  border-radius: 50%;
  padding: 8px;
  width: 38px;
  height: 36px;
  text-align: center;
}

header {
  background-image: url("../assets/home-image-1.jpg");
  background-size: cover;
  height: 800px;
  margin-bottom: 200px;
  position: relative;
}
header .logo {
  position: relative;
  z-index: 30;
}

.top-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.top-navigation ul a, .top-navigation button {
  color: white;
}
.top-navigation ul a:hover, .top-navigation ul a:focus, .top-navigation button:hover, .top-navigation button:focus {
  color: #50E3C2;
}
.top-navigation .top-navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 30;
}
.top-navigation .top-navigation-links a {
  display: inline-block;
  padding-left: 50px;
}

#slide-out-button {
  background-color: transparent;
  border: none;
  display: none;
  z-index: 30;
  font-size: 2.5rem;
}

.slide-out-nav {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background-color: #063974;
}
.slide-out-nav .button-container {
  text-align: right;
}
.slide-out-nav .button-container button {
  background-color: #063974;
  border: none;
  font-size: 3rem;
  padding: 25px;
}
.slide-out-nav li a {
  display: block;
  font-size: 3rem;
  padding: 20px 40px;
}
.slide-out-nav li a:hover, .slide-out-nav li a:focus {
  background-color: #0C5F4C;
  color: white;
}

.home-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}
.home-heading div {
  position: absolute;
  width: 45%;
  left: 0;
  bottom: -150px;
}

h1 {
  z-index: 10;
}
h1 span {
  display: block;
}

.blog-header,
.contact-header {
  height: 600px;
  margin-bottom: 0px;
}

.blog-header {
  background-image: url(../assets/blog-image-1.jpg);
}

.contact-header {
  background-image: url(../assets/contact-image-1.jpg);
}

.blog-heading,
.contact-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  top: 15px;
}

.visit .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.visit .wrapper .visit-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  padding-right: 80px;
}

.gallery {
  background-color: #D2F9F1;
  padding: 60px 0;
}
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .wrapper div {
  width: 32%;
}

.about {
  padding: 40px 0;
  margin-bottom: 100px;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .wrapper > div {
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px 0;
}

.icon-container {
  height: 5.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.text-container {
  width: 55%;
}
.text-container div {
  margin: 0 auto;
  width: 65%;
}

.plan-ahead,
.new-locations {
  background-color: #D2F9F1;
  padding: 30px 0 50px 0;
}
.plan-ahead .img-container,
.new-locations .img-container {
  width: 45%;
  height: calc(100% + 80px);
  position: relative;
}
.plan-ahead .img-container img,
.new-locations .img-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.plan-ahead .border-right,
.new-locations .border-right {
  bottom: 80px;
}
.plan-ahead .border-left,
.new-locations .border-left {
  top: 80px;
}

.new-locations .text-container {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  text-align: right;
}

.free-trip .wrapper {
  text-align: center;
  padding: 70px 0;
}
.free-trip .wrapper h3 {
  color: #0C5F4C;
}

.contact-info-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -50px;
}

.get-in-touch {
  width: 65%;
}
.get-in-touch form {
  position: relative;
  bottom: 150px;
}

.contact-info {
  padding-top: 75px;
  width: calc(35% - 100px);
}
.contact-info a {
  padding: 10px 10px 10px 0;
  font-weight: bold;
}

address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
}
address a {
  line-height: 4.5rem;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-links i {
  width: 25px;
  height: 25px;
}

.blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-main aside {
  width: 25%;
  padding-top: 100px;
}
.blog-main aside > div:last-child {
  padding-right: 20px;
}
.blog-main aside li::before {
  content: "• ";
  color: #50E3C2;
}
.blog-main aside span {
  color: #0C5F4C;
  font-weight: bold;
  margin-bottom: 100px;
}
.blog-main aside h4 {
  line-height: 8.5rem;
}
.blog-main > section {
  width: 65%;
}
.blog-main h3 {
  color: #2C2C2C;
}
.blog-main h4 {
  color: #063974;
}

.blog-post-section > div:first-child {
  outline: 5px #50E3C2 solid;
  outline-offset: 15px;
  position: relative;
  bottom: 125px;
  margin-bottom: -75px;
}
.blog-post-section .border-right {
  position: relative;
  bottom: 40px;
}

.post-date {
  color: #063974;
  font-style: italic;
}
.post-date span {
  font-weight: bold;
}

.blog-post,
.comments {
  margin-left: 7.5vw;
  max-width: 747.5px;
}
.blog-post p,
.comments p {
  margin-bottom: 20px;
}
.blog-post h4,
.comments h4 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

@media (min-width: 1350px) {
  .blog-post,
.comments {
    margin-left: auto;
    margin-right: 50px;
  }
}
.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}
.comment-container div:first-child {
  width: 100px;
  padding-top: 5px;
}
.comment-container div:last-child {
  width: calc(100% - 150px);
}

.comments form, .comments input, .comments textarea {
  background-color: #FAFFFE;
}

input, textarea {
  border: #50E3C2 2px solid;
  padding: 25px;
  width: 100%;
}

input {
  border-left: none;
  border-right: none;
  border-top: none;
}

textarea {
  resize: none;
  margin-top: 30px;
}

form {
  background-color: white;
}
form button {
  width: 100%;
  border: 0;
}
form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.contact-form {
  padding: 50px 50px 0px 50px;
}

@media (max-width: 1200px) {
  .blog-main aside {
    width: 27.5%;
  }
  .blog-main aside li {
    font-size: 1.9rem;
  }

  .contact-info {
    width: calc(35% - 80px);
  }

  address {
    font-size: 1.7rem;
  }
}
@media (max-width: 1050px) {
  .blog-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-main aside, .blog-main > section {
    max-width: 1150px;
    width: 85%;
    margin: 0 auto;
  }
  .blog-main aside {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 75px;
  }
  .blog-main aside img {
    margin-top: 25px;
    -webkit-box-shadow: 20px 20px #50E3C2;
            box-shadow: 20px 20px #50E3C2;
  }

  .blog-post-section > div:first-child {
    outline: none;
  }

  .blog-post,
.comments {
    margin-left: 0;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .comment-container div:first-child {
    width: 125px;
  }
  .comment-container div:last-child {
    width: calc(100% - 175px);
  }

  .contact-info-main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info-main .wrapper section {
    width: 100%;
  }

  .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 0;
  }

  .get-in-touch {
    margin-bottom: -75px;
  }

  address a {
    line-height: 3.2rem;
  }
}
@media (max-width: 900px) {
  header .logo {
    padding-bottom: 25px;
  }

  .top-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-navigation .top-navigation-links a {
    padding: 0 20px;
  }

  h1 {
    font-size: 9rem;
    line-height: 5rem;
  }

  h1 span {
    font-size: 4.5rem;
    letter-spacing: 0.67rem;
  }

  .home-heading {
    height: 70%;
  }

  .blog-heading,
.contact-heading {
    top: -75px;
  }

  .visit .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .visit .wrapper .visit-text {
    padding: 0;
  }
  .visit .wrapper .border-left {
    display: none;
  }

  .about {
    margin-bottom: 50px;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .wrapper > div {
    width: 100%;
  }

  .outer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1150px;
    width: 85%;
    margin: 0 auto;
    height: auto;
  }

  .plan-ahead .img-container,
.new-locations .img-container {
    position: static;
    width: 100%;
  }

  .plan-ahead {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .new-locations {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .text-container {
    width: 100%;
  }
  .text-container div {
    padding-top: 50px;
    width: 100%;
    text-align: center;
  }

  .new-locations .text-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media (max-width: 750px) {
  form div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog-main aside {
    padding-top: 0px;
  }
  .blog-main aside > div:first-child {
    display: none;
  }

  .subpage {
    letter-spacing: 0.7rem;
    line-height: 7.5rem;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 6.5rem;
  }

  .gallery .wrapper {
    margin: 0;
    padding: 20px 0;
    width: 100%;
  }
  .gallery .wrapper div {
    width: 50%;
  }
  .gallery .wrapper div:last-child {
    display: none;
  }

  #slide-out-button {
    display: block;
  }

  .top-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .top-navigation .top-navigation-links {
    display: none;
  }

  header .logo {
    padding-bottom: 0;
  }

  .contact-form {
    padding: 20px 25px 0px 25px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 4.5rem;
  }

  h1 span {
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }

  header {
    height: 100vh;
    margin-bottom: 50px;
  }

  .home-heading div {
    display: none;
  }

  .about {
    margin-bottom: 0;
  }

  .comment-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comment-container div:first-child {
    width: 150px;
  }
  .comment-container div:last-child {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }

  .get-in-touch {
    margin-bottom: 0;
  }
  .get-in-touch form {
    position: sticky;
  }

  .contact-info-main .wrapper {
    margin-bottom: 0px;
  }

  .contact-form {
    padding: 20px 0px 0px 0px;
  }

  .border-right form {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  footer {
    font-size: 1.6rem;
  }
}
@media (max-width: 350px) {
  .icon-container {
    display: none;
  }

  .logo {
    font-size: 28px;
  }

  .subpage {
    font-size: 8rem;
  }

  h1 {
    font-size: 4rem;
  }

  h1 span {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    line-height: 4rem;
  }
}